/* fadeinup simple */

.fadeInUp {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease-out forwards;
  }
  
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp-invers {
  opacity: 0;
  transform: translateY(20px); /* changement ici */
  animation: fadeInUp-invers 0.6s ease-out forwards;
}

@keyframes fadeInUp-invers {
  from {
    opacity: 0;
    transform: translateY(-20px); /* mouvement vers le haut */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.fadeOutUp {
  animation: fadeOutUp 0.5s ease-in forwards;
}



  /* fadeinup au scroll grace au js */
  

  .fade-in-up-on-scroll {
    opacity: 0;
    transform: translateY(30px);
    filter: blur(1px);
    transition: all 0.8s ease-out;
  }
  
  .fade-in-up-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
/* class de delai pour des transitions plus retardée */
  .delay-0 { transition-delay: 0s; }
  .delay-1 { transition-delay: 0.3s; }
  .delay-2 { transition-delay: 0.6s; }
  
  