*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
    
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;

}

.logo{
    width: 100px;
}

.menu .navbar a::after, .menu ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 100px;
}
.menu ul li {
    display: inline;
}
.menu ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}



.btn-bg {
    display: none;
    
    margin-left: 50px;
    width: 50px;
    color: #ffffff;
}

.barres{

font-size: xx-large;
}

.back a{

    color: rgb(253, 154, 154);
}

.menu-bg{
    display: none;
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;

width: 100vw;
height: auto;

text-align: center;
}
.menu-bg ul{
width: 100%;
}

.menu-bg li{
    background-color: rgba(6, 8, 7, 0.8);
    width: 100%;
    
}

.menu-bg li a {
font-weight: 700;
width: 100%;
display: block;
padding-top: 15px;
    padding-bottom: 15px;


}
.logo{

    display: flex;
    justify-content: right;
    
}

.logo img{

    width: 50px;
    padding-bottom: 10px;
    margin-right: 10px;
}

.menu .active{

    font-weight: bold;
}

.menu-bg .active a{
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-shadow: none;
}


@media screen and (max-width: 768px) {
    .menu{
        display: none;
    }
    header{
        justify-content: left;
        
        padding: 0;
        position: relative;
        
        height: 100px;
        
    }

    .btn-bg{
        display: block;
    }

    footer img{

    display: none;
}
}

.mail{

    font-size: 0.8rem;
}

#footer:target {
  background-color: rgba(231, 231, 9, 0.4); /* Surlignage */
  transition: background-color 2s ease;
  padding: 5px;
  border-radius: 10px;
}

footer img{

    width: 70px;
    margin: auto;
    margin-top: 20px;
}